<template>
    <require from="./basic_template.css"></require>
    <require from="shared/comp/header_elms/header_elm"></require>

    <div class="page-001-container">
        <div class="page-001-head">
            <div class="page-001-head-left" if.bind="pageData.ProfileImage">
                <img src="${pageData.ProfileImage}" class="page-001-head-left-image" />
            </div>
            <div class="page-001-head-center cst-shape-triangle top-left" if.bind="pageData.ProfileImage">
            </div>
            <div class="page-001-head-right">
                <div class="page-001-title">
                    <div class="page-001-head-right-name">
                        ${pageData.Name}
                    </div>
                    <div class="page-001-title-icons">
                        <div class="page-icon-container" title="${pageLabels.ChangeTheme}" click.trigger="evtChangeTheme()">
                            <span class="fa fa-th page-001-theme-icon"></span>
                        </div>
                    </div>
                </div>

                <div class="page-001-head-right-address">
                    ${pageData.Address}
                </div>
                <div class="page-001-head-right-links">
                    <a href="mailto:${pageData.Email}" title="${pageData.ProfileGmailTitle}" target="_blank">
                        <span class="fa fa-envelope"></span>
                        ${pageData.Email}
                    </a>
                </div>
                <div class="page-001-head-right-links">
                    <a href="${pageData.ProfileTwitter}" title="${pageData.ProfileTwitterTitle}" target="_blank">
                        <span class="fa fa-twitter-square"></span>
                        ${pageData.ProfileTwitter}
                    </a>
                </div>
                <div class="page-001-head-right-links">
                    <a href="${pageData.ProfileLinkedIn}" title="${pageData.ProfileLinkedInTitle}" target="_blank">
                        <span class="fa fa-linkedin-square"></span>
                        ${pageData.ProfileLinkedIn}
                    </a>
                </div>
                <div class="page-001-head-right-links">
                    <a href="${pageData.ProfileGooglePlus}" title="${pageData.ProfileGooglePlusTitle}" target="_blank">
                        <span class="fa fa-google-plus-official"></span>
                        ${pageData.ProfileGooglePlus}
                    </a>
                </div>
                <div class="page-001-head-last-updated">
                    ${pageLabels.LastUpdatedOn}  ${pageData.LastUpdatedOn}
                </div>
            </div>
        </div>


        <div class="page-001-summary cst-shape-ripped-paper">
            <div class="page-001-summary-head">
                ${pageLabels.Summary}
            </div>
            <div class="page-001-summary-content">
                <div repeat.for="sumObj of pageData.Summary" class="page-001-summary-content-item">
                    &#x25C6; ${sumObj.Content}
                </div>
            </div>
        </div>

        <div class="page-001-tech-skills">
            <div class="page-001-tech-skills-header">
                <cst-header-elm details.bind="pageLabels.TechSkillHeaderObj"></cst-header-elm>
            </div>
            <div class="page-001-tech-skills-content">
                <div class="page-001-tech-skills-section ${isMobileScreen ? 'cst-shape-ripped-paper' : 'cst-shape-trapezoid top'}" repeat.for="skills of pageData.TechnicalSkills">
                    <div class="page-001-tech-section-header">
                        ${skills.Header}
                    </div>
                    <div class="page-001-section-body">
                        <div repeat.for="techName of skills.Skills" class="page-001-section-tech-name">
                            &#x25C6; ${techName}
                        </div>
                    </div>
                </div>
                <div class="page-001-tech-footer-section">
                    ${pageLabels.TechSkillFooter}
                </div>
            </div>
        </div>



        <div class="page-001-experience">
            <div class="page-001-experience-header">
                ${pageLabels.Experience}
            </div>
            <div class="page-001-experience-container">
                <div class="${$even ? 'page-001-experience-details-even' : 'page-001-experience-details-odd'}" repeat.for="exp of pageData.Experience">
                    <div class="page-001-experience-description"> <span class="cst-shape-ripped-paper-left-right ${$even ? 'page-001-experience-description-contents-even' : 'page-001-experience-description-contents-odd'}">${exp.Description}</span></div>
                    <div class="page-001-project-label">
                        ${pageLabels.Projects}:
                    </div>
                    <div class="page-001-projects-container">
                        <div class="page-001-projects ${$parent.$even ? 'page-001-projects-even' : 'page-001-projects-odd'}" repeat.for="project of exp.Projects">
                            <div class="page-001-project-title">
                                <span class="${$parent.$even ? 'page-001-project-title-contents-even' : 'page-001-project-title-contents-odd'}">${project.Title}</span>
                            </div>
                            <div class="page-001-project-content">
                                <span class="page-001-label">${pageLabels.ProjectDescription}: </span>
                                <span>${project.Details}</span>
                            </div>
                            <div class="page-001-project-content">
                                <span class="page-001-label">${pageLabels.Technologies}: </span>
                                <span>${project.Technologies}</span>
                            </div>
                            <div class="page-001-project-content">
                                <div class="page-001-label page-001-project-content">${pageLabels.Responsibilities}:</div>
                                <div repeat.for="res of project.Responsibilities" class="page-001-project-inner-content">
                                    <span class="fa fa-circle page-001-icon"></span>${res}
                                </div>
                            </div>
                            <div class="page-001-project-content" if.bind="project.SpecialAchievements">
                                <div class="page-001-label page-001-project-content">${pageLabels.Achievements}</div>
                                <div repeat.for="acheivement of project.SpecialAchievements" class="page-001-project-inner-content">
                                    <span class="fa fa-circle page-001-icon"></span>${acheivement}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-001-education">
            <div class="page-001-education-header">
                ${pageLabels.Education}
            </div>
            <div class="page-001-education-details-container">
                <div class="page-001-education-details cst-shape-ripped-paper" repeat.for="detail of pageData.Education">
                    <div class="page-001-course">${detail.Course}</div>
                    <div class="page-001-details">${detail.Year}</div>
                    <div class="page-001-details">${detail.Institute}</div>
                    <div class="page-001-details">${detail.Address}</div>
                </div>
            </div>
        </div>
        <!--<div class="page-001-">
          <div>
            ${pageLabels.OtherDetails}
          </div>
        </div>-->
    </div>
</template>