.page-001-container {
    font-size: var(--font-size1);
    margin-bottom: 10px;
}


.page-001-head {
    background-color: var(--page-001-color-4);
    color: var(--page-001-color-4-txt);
    min-height: 200px;
    margin-bottom: 40px;
}

.page-001-head-left {
    background-color: var(--page-001-color-2);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-001-head-left-image {
    width: 150px; /*height auto aspect*/
}

.page-001-head-center {
    background-color: var(--page-001-color-2);
    width: 100px;
}

.page-001-head-right {
    font-size: var(--font-size2);
    padding: 10px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.page-001-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.page-001-head-right-name {
    font-size: var(--font-size4);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page-001-title-icons {
    display: flex;
    align-items: center;
}

.page-001-theme-icon {
    background: linear-gradient(to bottom, red, yellow);
    color: black;
}

.page-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    cursor: pointer;
    font-size: var(--font-size-icon-2);
    transition: .5s all;
}

    .page-icon-container:hover {
        background-color: var(--page-001-color-6);
        color: var(--page-001-color-6-txt);
    }

.page-001-head-right-address {
    width: 100%;
    margin-bottom: 16px;
}

.page-001-head-right-links {
    width: 100%;
    margin-bottom: 8px;
    word-break: break-all;
}

    .page-001-head-right-links a {
        color: var(--page-001-color-4-txt);
    }

.page-001-head-last-updated {
    font-size: var(--page-001-font-size1);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



.page-001-summary {
    background-color: var(--page-001-color-3);
    color: var(--page-001-color-3-txt);
    padding: 20px 40px;
    margin: 0 10px 20px 10px;
}

.page-001-summary-head {
    font-size: var(--font-size3);
    margin-bottom: 10px;
}

.page-001-summary-content-item {
    margin-bottom: 5px;
}




.page-001-tech-skills {
    background-color: #7286CA;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-001-tech-skills-header {
    z-index: 1;
}

.page-001-tech-skills-content {
    width: 100%;
}

.page-001-tech-skills-section {
    background-color: var(--page-001-color-2);
    color: var(--page-001-color-2-txt);
    padding: 16px 0px 8px 0px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-001-tech-section-header {
    font-size: var(--font-size3);
    background-color: var(--page-001-color-6);
    color: var(--page-001-color-6-txt);
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.page-001-section-body {
    display: flex;
    flex-wrap: wrap;
}

.page-001-section-tech-name {
    min-height: 20px;
    min-width: 100px;
    margin: 10px;
}

.page-001-tech-footer-section {
    display: flex;
    justify-content: flex-end;
}

.page-001-education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-001-education-header {
    font-size: var(--font-size4);
    margin: 20px;
}

.page-001-education-details-container {
}

.page-001-education-details {
    background-color: var(--page-001-color-6);
    color: var(--page-001-color-6-txt);
    min-height: 200px;
    width: 300px;
    max-width: 400px;
    margin: 10px 20px;
    padding: 24px;
    box-sizing: border-box;
}

.page-001-course {
    background-color: var(--page-001-sec-color-1);
    color: var(--page-001-sec-color-1-txt);
    min-height: 15px;
    min-width: 100px;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-001-experience {
}

.page-001-experience-header {
    font-size: var(--font-size4);
    padding: 16px;
}

.page-001-experience-container {
    padding: 16px;
}

.page-001-experience-details-odd {
    background-color: var(--page-001-sec-color-3);
    padding-bottom: 24px;
}

.page-001-experience-details-even {
    background-color: var(--page-001-color-7);
    padding-bottom: 24px;
}

.page-001-experience-description {
    font-size: var(--font-size5);
    margin-bottom: 16px;
    padding: 24px;
    display: flex;
    justify-content: center;
}

.page-001-experience-description-contents-odd {
    background-color: var(--page-001-sec-color-2);
    color: var(--page-001-sec-color-2-txt);
    padding: 8px;
    border-radius: 10px;
}

.page-001-experience-description-contents-even {
    background-color: var(--page-001-color-6);
    color: var(--page-001-color-6-txt);
    padding: 8px 24px;
    border-radius: 10px;
}

.page-001-project-label {
    font-size: var(--font-size5);
    margin-bottom: 24px;
    margin-left: 24px;
}

.page-001-projects-container {
    padding: 16px;
}

.page-001-projects {
    padding: 24px;
    width: 100%;
    min-width: 100%;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.page-001-projects-odd {
    background-color: var(--page-001-sec-color-4);
}

.page-001-projects-even {
    background-color: var(--page-001-color-8);
}

.page-001-project-title {
    font-size: var(--font-size2);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.page-001-project-title-contents-even {
    background-color: var(--page-001-color-6);
    color: var(--page-001-color-6-txt);
    padding: 8px;
    border-radius: 10px;
}

.page-001-project-title-contents-odd {
    background-color: var(--page-001-sec-color-2);
    color: var(--page-001-sec-color-2-txt);
    padding: 8px;
    border-radius: 10px;
}

.page-001-project-content {
    margin-bottom: 8px;
}

.page-001-project-inner-content {
    margin-bottom: 4px;
}

.page-001-label {
    font-size: var(--font-size2);
    font-weight: bold;
}

.page-001-icon {
    font-size: var(--font-size-icon1);
    padding-right: 8px;
}

.page-001-details {
    margin-bottom: 4px;
}

@media (min-width: 768px) {
    .page-001-head {
        display: flex;
    }

    .page-001-head-left {
        width: 150px;
    }

    .page-001-tech-skills {
        background-color: transparent;
    }

    .page-001-tech-skills-section {
        padding: 0px 130px 8px 130px;
        margin-bottom: 0px;
    }

    .page-001-tech-section-header {
        width: 100%;
        border-radius: 0px;
    }

    .page-001-education-details {
        width: 400px;
    }

    .page-001-projects-container {
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .page-001-projects {
        width: 600px;
        min-width: 600px;
        margin: 0 0 24px 24px;
    }
}

@media (min-width:992px) {
    .page-001-head-left {
        width: 300px;
    }

    .page-001-head-right-links {
        width: 50%;
    }

    .page-001-tech-skills {
        flex-direction: row;
    }

    .page-001-tech-skills-header {
        width: 350px;
        height: 150px;
    }

    .page-001-education {
        align-items: flex-start;
    }

    .page-001-education-details-container {
        display: flex;
        flex-wrap: wrap;
    }

    .page-001-projects-container {
        justify-content: flex-start;
    }
}
