.sha-pg008-01 {
    display: flex;
    flex-direction: column;
    min-width: var(--container-width);
    width: 100%;
}

.sha-pg008-01-flipper-head {
  background-color: var(--sha-pg008-head-bg);
  color: var(--sha-pg008-head-txt) !important;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  line-height: 30px;
  word-break: break-word;
  font-size: var(--font-size4);
}

.sha-pg008-01-triangle-small {
    width: 40px;
    height: 20px;
    background-color: var(--sha-pg008-head-bg);
    align-self: center;
}

.sha-pg008-01-triangle-big {
    display: none;
}

@media (min-width:992px) {
    .sha-pg008-01 {
        flex-direction: row;
        margin-right: 8px;
        min-width: 350px;
        min-height: 80px;
    }

    .sha-pg008-01-flipper-head {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left: 20px solid var(--sha-pg008-head-triangle-bg);
        line-height: 35px;
    }

    .sha-pg008-01-triangle-small {
        display: none;
    }

    .sha-pg008-01-triangle-big {
        display: flex;
        width: 80px;
        height: var(--container-height);
        background-color: var(--sha-pg008-head-triangle-bg);
    }

    .sha-pg008-01-rotate {
        transform: rotateY(180deg);
    }

    .sha-pg008-01-flipper-head-rotate {
        transform: rotateY(180deg);
    }
}
