.sha-pg008-02 {
    --tag-dot-height-width: 10px;
    --tag-ring-height: 10px;
    --tag-ring-width: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sha-pg008-02-flipper-head {
  background-color: var(--sha-pg008-head-bg);
  color: var(--sha-pg008-head-txt) !important;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  line-height: 30px;
  word-break: break-word;
  font-size: var(--font-size4);
}

.sha-pg008-02-triangle {
    width: 40px;
    height: 20px;
    background-color: var(--sha-pg008-head-bg);
    align-self: center;
}

.sha-pg008-02-tag-center {
    display: none;
}

@media (min-width:992px) {
    .sha-pg008-02 {
        flex-direction: row;
        transform: rotateZ(-15deg);
        margin-top: calc(0.09 * var(--container-width));
        min-width: 350px;
        min-height: 130px;
        margin-right: -10px;
    }

    .sha-pg008-02-triangle {
        display: none;
    }

    .sha-pg008-02-flipper-head {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        padding: 0 20px;
        min-height: 100px;
        line-height: 35px;
    }

    .sha-pg008-02-tag-center {
        display: flex;
        position: relative;
        height: var(--container-height);
        width: 45px;
        background-color: var(--sha-pg008-head-triangle-bg);
    }

    .sha-pg008-02-tag-center-dot {
        position: absolute;
        width: var(--tag-dot-height-width);
        height: var(--tag-dot-height-width);
        border-radius: 50%;
        border: 1px solid var(--sha-pg008-dot-txt);
        background-color: var(--sha-pg008-dot-bg);
        top: calc(50% - (var(--tag-dot-height-width) / 2));
        right: 0;
    }

    .sha-pg008-02-tag-ring {
        min-width: var(--tag-ring-width);
        max-width: var(--tag-ring-width);
        position: relative;
    }

    .sha-pg008-02-ring-section {
        border: 3px solid var(--sha-pg008-dot-txt);
        height: var(--tag-ring-height);
        width: var(--tag-ring-width);
        position: absolute;
        margin-left: calc((var(--tag-dot-height-width) / 2) * -1); /* multiply with -1, give negative value */
    }

    .sha-pg008-02-ring-top {
        border-top-right-radius: var(--tag-ring-width);
        border-top-left-radius: var(--tag-ring-width);
        border-bottom: 0;
        top: calc(50% - var(--tag-ring-height));
        z-index: 1;
    }

    .sha-pg008-02-ring-bottom {
        border-bottom-right-radius: var(--tag-ring-width);
        border-bottom-left-radius: var(--tag-ring-width);
        border-top: 0;
        top: 50%;
        z-index: -1;
    }


    .sha-pg008-02-ring-dot {
        position: absolute;
        width: var(--tag-dot-height-width);
        height: var(--tag-dot-height-width);
        border-radius: 50%;
        border: 1px solid var(--sha-pg008-dot-txt);
        background-color: var(--sha-pg008-dot-bg);
        top: calc(50% - (var(--tag-dot-height-width) / 2));
        right: calc((var(--tag-dot-height-width) / 2) * -1); /* multiply with -1, give negative value */
    }

    .sha-pg008-02-rotate {
        transform: rotateY(180deg) rotateZ(-15deg);
        margin-right: 0;
        margin-left: -10px;
    }

    .sha-pg008-02-flipper-head-rotate {
        transform: rotateY(180deg);
    }
}
