body {
    margin: 0;
    --font-size1: 15px;
    --font-size2: 18px;
    --font-size3: 24px;
    --font-size4: 34px;
    --font-size5: 20px;
    --font-size-icon1: 8px;
    --font-size-icon-2:24px;
}